/* Systematic Breeks Headings */
/* Headings and typography base */

/* >>> */

/* --- */
/* Headings */
/* +++ */

//### Set Properties
//+++

//## Font Color
$sys-fontColor: #34495e;
//## Font Color
$sys-fontHighlight: #007AFF;

//---
//### Headings Base
//+++

//---
//### Headings and paragraphs
//+++

//## H1
@mixin h1 {
    h1 {
        font-size: 2.45rem;
        font-weight: 400;
        letter-spacing: -.04rem;
        line-height: 1.2;
        margin-bottom: 0.6rem;
        @include desktopMixEx{
            font-size: 3rem;
            margin-bottom: 1rem;
            letter-spacing: -.08rem;
        }
    }
}
//## H2
@mixin h2 {
    h2 {
        font-size: 2.1rem;
        font-weight: 400;
        letter-spacing: -.04rem;
        line-height: 1.25;
        margin-bottom: 0.6rem;
        @include desktopMixEx{
            font-size: 2.46rem;
            margin-bottom: 1rem;
            letter-spacing: -.08rem;
        }
    }
}
//## H3
@mixin h3 {
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: -.04rem;
        line-height: 1.3;
        margin-bottom: 0.6rem;
        @include desktopMixEx{
            font-size: 2.1rem;
            margin-bottom: 1rem;
            letter-spacing: -.05rem;
        }
    }
}
//## H4
@mixin h4 {
    h4 {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: -.06rem;
        line-height: 1.3;
        margin-bottom: 0.6rem;
        @include desktopMixEx{
            font-size: 2.1rem;
            margin-bottom: 1rem;
            letter-spacing: -.08rem;
        }
    }
}
//## H5
@mixin h5 {
    h5 {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: -.02rem;
        line-height: 1.35;
        margin-bottom: 0.6rem;
        @include desktopMixEx{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            letter-spacing: -.04rem;
        }
    }
}
//## H6
@mixin h6 {
    h6 {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: -.01rem;
        line-height: 1.4;
        margin-bottom: 0.6rem;
        @include desktopMixEx {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            letter-spacing: -.04rem;
        }
    }
}
//## Para
@mixin para {
    p[para] {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 400;
        @include desktopMixEx {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}
//## Link
@mixin link {
    a[link] {
        position: relative;
        display: inline-block;
        transition: all 400ms;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        color: lighten($sys-fontColor, 5%);
        &:hover {
            color: lighten($sys-fontHighlight, 10%);
            &:after {
                border-bottom-style: solid;
                border-bottom-color: lighten($sys-fontHighlight, 10%);
            }
        }
        &:active {
            color: darken($sys-fontHighlight, 10%);
            &:after {
                border-bottom-style: dotted;
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.125rem;
            bottom: 0;
            left: 0;
            border-bottom-width: 1.5px;
            border-bottom-style: dashed;
            border-bottom-color: $sys-fontHighlight;
            transition: all 400ms;
        }
    }
}

//---

/* --- */
/* Initialize Required Components */
/* +++ */

//---

/* --- */

/* <<< */