<nav>
    <div box>
       <section gd-x= "center">
           <div itm-s="10" itm-sTab="20">
              <p>
                  <a link <% if(pageName === 'index'){ %> class="active" <% } else { %> href="/" <% } %> >Home</a>
              </p>
           </div>
           <div itm-s="10" itm-sTab="20">
               <p>
                   <a link <% if(pageName === 'about'){ %> class="active" <% } else { %> href="/about" <% } %> >About</a>
               </p>
           </div>
       </section>
    </div>
</nav>